.row-fluid.span8.aligncenter8
	.span8.center.well
		p KarmaWhoring.com is dedicated to providing Redditors deeper insights into their Reddit data.  Our first app disaggregates your Karma score and lets you see where on Reddit you earn your karma.

		p In the future we will be bringing you other cool vizualizations and tools to help make you a <div class='strike'>better Redditor</div> bigger Karma Whore.
		p
		p
		p This app was built using: 
		a(href="http://nodejs.org") Node.js
		\,
		a(href="http://expressjs.com") Express
		\,
		a(href="http://d3js.org") D3.js
		\, and
		a(href="http://twitter.github.com/bootstrap") Bootstrap
		\.

		br
		br
		p Lastly, Randy did all the real coding. I just made it look pretty.
