h1= title

p Enter your username to find out where your karma comes from!
	
div
	form( method="post", action="/user/")
		div
			div
				input(type="text", name="username", id="username")
			div
				input(type="submit", value="Submit")