.row-fluid
	.span12
		.page-header.center
			h1=title

.row-fluid.span6.aligncenter6
	.span4.center.well.furley
		div(style="border-bottom:2px solid lightgrey;")
			if (error != null)	
				.alert.alert-error
					.a(data-dismiss='alert').close
					#{error}		
			form(method="post", action="/user/")
				label(style="margin-bottom:10px;") Find out where your Karma comes from.
				input(class="span3", type="text", name="username", id="username", placeholder="Enter Reddit username...")
				div(style="margin-top:5px;")
					input#modal(class="btn-primary", type="submit", value="Submit")
		
		img(src="/img/sample.gif")

//
	div.modal#myModal
		.modal-body
			p Fetching Your Karma...
			p Wait a sec.