.row-fluid
	.span12
		.page-header.center
			h1=title

.row-fluid
	div.aligncenter6
		.span4.center.well.furley
			div(style="border-bottom:2px solid lightgrey;")
				if (error != null)	
					.alert.alert-error
						.a(data-dismiss='alert').close
						#{error}		
				form(method="post", action="/user/", autocomplete="off")
					label(style="margin-bottom:10px;") Find out where your Karma comes from.
					input(class="span3", type="text", name="username", id="username", placeholder="Enter Reddit username...")
					div(style="margin-top:5px;")
						input.subbut.btn(class="btn-primary", type="submit", value="Submit", data-loading-text="Loading Karma...", autocomplete="off")
			
			img(src="/img/sample.gif")

script
	var karmaObj = null;
	$('.tabs').button();
	$(document).ready('bootstrap_buttons', function() {
		$('.subbut').button('reset');});
	$('.subbut').click(function(){ $('.subbut').button('loading');})
