#viz
#chart

script!= javascript

//-userinfoObject = 	{		"children": [		   			{"name": "AgglomerativeCluster", "size": 3938},			{"name": "CommunityStructure", "size": 3812},			{"name": "HierarchicalCluster", "size": 6714},			{"name": "MergeEdge", "size": 743}		]	}

script
	var dataset = [ 20, 10, 15, 20, 25 ];

//-a(href="https://twitter.com/share" data-text="Sweet graph of my Reddit Karma:" data-size="large" data-count="none").twitter-share-button Tweet
//-<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>