circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 15px sans-serif;
}
.navbar-inner{
-webkit-box-shadow: 0px 2px 5px 3px #808080;
-moz-box-shadow: 0px 2px 5px 3px #808080;
box-shadow: 0px 2px 5px 3px #808080;
}