body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: url("/images/orangeback.gif");
  background-repeat: repeat;
}

a {
  color: #00B7FF;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.circle {
  stroke: #fff;
  stroke-width: 1.5px;
}